*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(171, 222, 222);
}

#app{
    height : 100vh ; 
    width : 100vw ; 
}
.container{
  width : 50vh ; 
  min-height: 50vh;
  margin : 20px auto ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 20px ; 
  padding : 5px ; 
  font-size: 24px;
}
.todoForm{
  display: flex;
  height : 30px ; 
  width : 100% ;
  gap : 3px ; 

}

.todoForm > input{
  width : 90% ; 
  flex : 1 ; 
  border : none ;
  outline: none;
  padding : 15px 15px 15px 30px  ; 
}
.todoForm > button {
  width: 10%;
  width : 40px ; 
  border : none ;
  outline: none;
}

.todoContainer{
  width: 100%;
}
.todoBox{
  display : flex ; 
  background-color: bisque;
  width : 95% ; 
 padding : 10px ; 
 align-items: center;
}

.todoBox > p{
  width : 84% ; 
  flex : 1 ; 
}
.todoBox>input{
  width : 8% ; 
  padding : 8px ; 
}
.todoBox>button{
  border-radius: 3px;
  background-color: brown;
  width : 8% ; border: none;
  outline: none;
  color: white;
  padding : 5px ; 
}
.underline{
  text-decoration: line-through;
}